<div class="sidebar">
    <h2 class="header">Events</h2>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/rso">View RSO's</a>
        </li>
        <li>
            <a href="/">View Events</a>
        </li>
        <li>
            <a href="/create-review" >Leave a Review</a>
        </li>
        <li>
            <a href="/create-event" >Create Event</a>
        </li>
        <li>
            <a href="/create-rso" >Create RSO</a>
        </li>
        <li>
            <a href="/account">Profile</a>
        </li>
        <li>
            <a href="/sign-in">Sign In</a>
        </li>
        <li>
            <a href="/create-university" >Create University</a>
        </li>
        <li>
            <a href="/create-location" >Create Location</a>
        </li>
        <li>
            <a href="/sign-up" >Sign Up</a>
        </li>
        <li>
            <a href="join-rso">Join RSO</a>
        </li>
        <li>
            <a href="update-reviews">Update Reviews</a>
        </li>
        <li>
            <a (click)="signOut()">Log Out</a>
        </li>
    </ul>   
</div>